<!DOCTYPE html>
<html lange="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body>
    <ol>
        {{range .Wisdom}}
        <li>{{uc .Name}}</li>
        {{end}}
    </ol>

    <ul>
        {{range .Wisdom}}
        <li>{{ft .Name}}</li>
        {{end}}
    </ul>
    
</body>
</html>
