<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FoodTest용 페이지</title>
</head>
<body>

<button onclick="getFoodList()">음식 리스트 가져오기</button> <br/>
<textarea id="foodList" cols="30" rows="10"></textarea> <br/><br/><br/><br/>

foodName : <input type="text" id="foodAdd-foodName"> <br/>
price : <input type="text" id="foodAdd-price"> <br/>
<button onclick="addFood()">음식 추가하기</button> <br/>
<textarea id="foodAdd" cols="30" rows="10"></textarea> <br/><br/><br/><br/>

foodId : <input type="text" id="foodEdit-foodId"> <br/>
foodName : <input type="text" id="foodEdit-foodName"> <br/>
price : <input type="text" id="foodEdit-price"> <br/>
<button onclick="editFood()">음식 수정하기</button> <br/>
<textarea id="foodEdit" cols="30" rows="10"></textarea> <br/><br/><br/><br/>

foodId : <input type="text" id="foodOne-foodId"> <br/>
<button onclick="getFood()">음식 한 개 가져오기</button> <br/>
<textarea id="foodOne" cols="30" rows="10"></textarea> <br/><br/><br/><br/>


foodId : <input type="text" id="foodRemove-foodId"> <br/>
<button onclick="removeFood()">음식 한 개 삭제하기</button> <br/>
<textarea id="foodRemove" cols="30" rows="10"></textarea> <br/><br/><br/><br/>

    <script>

        function getFoodList() {
            fetch('/test/food/read').then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById('foodList').innerText = JSON.stringify(data);
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        }

        function addFood() {
            fetch('/test/food/insert/' +
                document.getElementById('foodAdd-foodName').value +"/"+
                document.getElementById('foodAdd-price').value
            ).then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById('foodAdd').innerText = JSON.stringify(data);
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        }

        function editFood() {
            fetch('/test/food/update/' +
                document.getElementById('foodEdit-foodId').value +"/"+
                document.getElementById('foodEdit-foodName').value +"/"+
                document.getElementById('foodEdit-price').value
            ).then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById('foodEdit').innerText = JSON.stringify(data);
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        }

        function getFood() {
            fetch('/test/food/read/' +
                document.getElementById('foodOne-foodId').value
            ).then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById('foodOne').innerText = JSON.stringify(data);
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        }

        function removeFood() {
            fetch('/test/food/delete/' +
                document.getElementById('foodRemove-foodId').value
            ).then(function (response) {
                return response.json();
            }).then(function (data) {
                document.getElementById('foodRemove').innerText = JSON.stringify(data);
            }).catch(function (err) {
                console.warn('Something went wrong.', err);
            });
        }

    </script>
</body>
</html>